.contentTitle {
  font-size: 0.95rem;
  font-weight: 450;
}
.contentText {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.headingTitle h4 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}
.productTable .tableHead {
  font-size: 0.9rem !important;
  font-weight: 410;
  color: #606060;
}
.productTable .tableData {
  font-size: 0.85rem;
}
.pizzaDetailsTitle {
  font-weight: 500;
}
.productName {
  font-size: 0.9rem;
  font-weight: 500;
}
