.productList h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ef831b;
}
.cancelCart,
.addtocart {
  color: #ffffff !important;
  border: none;
  font-size: 0.95rem;
  font-weight: 550;
}
.addtocart {
  background-color: #ef831b;
}
.cancelCart {
  background-color: #878787;
}
.cancelCart:hover,
.cancelCart.active,
.addtocart.active,
.addtocart:hover {
  background-color: #2e2e2e !important;
  transition: 0.7s all ease-in-out;
}
/* Order Summary */
.block-stl10 h3 {
  font-size: 1rem !important;
}
.block-stl10 .ttl {
  font-size: 0.95rem !important;
  font-weight: 500;
}
.block-stl10 .stts {
  font-size: 0.95rem !important;
}
.block-stl10 .ttlnm,
.block-stl10 .odr-stts {
  font-size: 1rem !important;
  font-weight: 650;
}
/*  */
.cartlistitem .image img {
  width: 75px;
  height: 75px;
}
.cartlistitem h5 {
  font-size: 1rem;
  font-weight: 800;
}
.cartlistitem p {
  font-size: 1rem;
}
.amount {
  min-width: fit-content;
}
.main-cartPizzaSize p,
.main-cartQty p {
  font-size: 0.9rem;
  font-weight: 600;
}
.main-cartList h4 {
  font-size: 0.85rem;
  font-weight: 600;
}
.main-cartPizzaSize span,
.main-cartQty span {
  font-size: 0.9rem;
}
.main-cartPizza p {
  font-size: 0.9rem;
  display: inline;
  font-weight: 600;
}
.main-cartPizza span {
  font-size: 0.85rem;
  font-weight: 400;
  margin-left: 1%;
  line-height: 1.1rem;
}
.crust,
.cheese,
.specialbases {
  min-width: fit-content;
}
.main-cartIcons {
  min-width: fit-content;
}
