.cartlist {
  height: 470px;
  background-color: #fffaf4;
  overflow-y: auto;
}
.list-item {
  border-bottom: 0.1rem solid #ffcea4;
}
.orderTitle {
  color: #d96900;
  border-bottom: 0.2rem solid #ef831b;
  font-size: 1.1rem;
}
.placeOrderBtn button {
  background-color: #ef831b;
  color: #ffffff !important;
}
.placeOrderBtn button.active,
.placeOrderBtn button:focus,
.placeOrderBtn button:hover {
  background-color: #2e2e2e !important;
}
