.main-nav .logo {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 5px;
}

.main-nav .logo img {
  width: 50px;
  height: 50px;
}

.main-nav .nav ul li a {
  text-decoration: none;
}

.showResNav {
  transform: translateY(0);
}

.hideResNav {
  transform: translateY(-100%);
}

.box {
  width: auto;
  border: 0.1rem solid #fdfdfd;
  background-color: #fdfdfd;
  box-shadow: 4px 4px 4px 2px rgba(131, 131, 131, 0.2);
}
.filterer.active {
  border-bottom: 0.1rem solid #ef831b;
}
/*==============================================
  Create Your Own Pizza
  ==============================================*/
.custmized-main {
  z-index: 3;
  box-shadow: 0px 2px 2px 1px rgba(76, 76, 76, 0.2);
  position: sticky !important;
  top: 0 !important;
  overflow: hidden;
}
.custmized > h2 {
  font-size: 1.5rem;
}
.pizzaSelection h4 {
  font-size: 1rem;
}
.pizza-heading {
  background-color: #ffead7;
}
.pizzaSelection p {
  font-size: 1rem !important;
  font-weight: 550;
}
.pizzaSelection .form-select {
  font-size: 0.9rem;
  width: 55%;
}
.block {
  width: 33%;
}
.form-drop {
  width: 50%;
}
.addtocartbtn {
  background-color: #ef831b !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: #f29640;
  border-color: transparent !important;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:focus {
  background-color: #ee7c11;
  border-color: transparent !important;
  color: #ffffff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
.nav-tabs .nav-link {
  /* width: 166px; */
  border-radius: 0%;
}
.sidesTitle h3,
.customizedTitle h3 {
  font-size: 1.1rem !important;
}
.customizedTitle,
.sppizzaPrice,
.specialTitle,
.drinksPrice,
.dipsPrice {
  font-size: 1.1rem !important;
  font-weight: 550;
}
.sppizzasize,
.pizzasize {
  font-size: 1rem;
}

.quantityBtn {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  color: #3e3e3e;
  background: #e1e1e6;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.quantityBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quantityText {
  font-size: 22px;
  font-weight: 600;
}
.quantityBtn:hover,
.quantityBtn:focus {
  background: #3e3e3e;
  color: #ffffff;
}

.customizedBtn,
.addtocartBtn,
.loginBtn,
.regBtn {
  background-color: #ef831b;
  color: #ffffff !important;
}
.addtocartbtn {
  font-size: 0.86rem !important;
}

.customizedBtn:hover,
.customizedBtn.active,
.addtocartBtn:hover,
.addtocartBtn.active,
.regBtn.active,
.regBtn:hover,
.regBtn:focus,
.loginBtn:hover,
.loginBtn.active,
.loginBtn:focus {
  background-color: #2e2e2e !important;
}
.image-div {
  width: 140px !important;
  height: 140px !important;
  border-radius: 50%;
  overflow: hidden;
}
.image-div img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

.loginBox {
  width: 25rem;
  min-height: 28rem;
  padding: 2rem;
}
.loginBox .images,
.regPage .images {
  width: 65px;
  height: 65px;
}
.content {
  background-color: #ffffff;
}
.content h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.content {
  opacity: 0.95;
}
.regPage h3 {
  font-size: 1.5rem;
}
.noteTxt {
  font-size: 0.9rem;
}
.formErrMsg {
  font-size: 0.9rem;
}

/* CartList */
.orderSummary span {
  font-size: 0.85rem;
}
.orderSummary div {
  font-size: 0.9rem;
}
